body {
  background-color: rgb(211, 202, 182);
  font: normal 15pt, Arial;
  margin: auto;
}

.container {
  background-color: rgb(150, 212, 192);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 16px;
  box-shadow: inset;
}

h1 {
  text-align: center;
}

.form-box {
  max-width: 300px;
  background: #f1f7fe;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 0.5rem;
  width: 100%;
}

.input:focus {
  box-shadow: 0 0 20px #ffffff, 0 0 30px #ffffff;
  background: rgba(255, 255, 255, 0.05);
}

.input {
  max-width: 190px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}

.nome {
  position: absolute;
  top: 25%;
  left: 35px;
  transform: translateY(-100%);
  color: #000000;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
}

/*Button*/
.button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #034ab6;
}
.Aqui {
  gap: 16px;
}
