body {
  background-color: azure;
  font: normal 15pt Arial;
  margin: auto;
}

header {
  text-align: center;
}

section {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  margin: auto;
  box-shadow: 1px 1px 5px;
  justify-content: center;
}

/* Colocando todos os itens no centro da section */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 190px;
  outline: none;
  border: 1px solid #dadada;
  padding: 10px;
  border-radius: 5px;
  background-color: #f3f7fe;
  margin: 0.99%;
  box-shadow: 3px 3px 0px 0px #4b4a4a;
}

/* Conteudo no meio da section*/
.form-container {
  position: relative;
  display: grid;
  justify-content: center;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 190px;
  outline: none;
  border: 1px solid #dadada;
  padding: 10px;
  border-radius: 5px;
  background-color: #f3f7fe;
  transition: 0.3s;
  box-shadow: 3px 3px 0px 0px #4b4a4a;
  margin: 0.99%;
}

.button:hover {
  background-color: #e2e7f1;
}

footer {
  text-align: center;
  font-style: italic;
}
